<% switch (pagina) {
    case 'index' : %>
        <% include rec/index %>
            <% break;
    
    case 'productos' : %>
        <% include rec/productos %>
            <% break;
    
    default: %>
        <div class="col-12"><h1>Error 404</h1></div>
<% } %>