<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <% include partials/head %>
  </head>
  <body>
      <% include partials/navbar %>
      <% include partials/body %>
      <% include partials/footer %>
    <script type="text/javascript" src="/javascripts/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="/javascripts/popper.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
